@{
    ViewData["Title"] = "User Master";
}
<h1>User Master</h1>

<form asp-action="CreateUpdate">  

    <hms-text-box name="@nameof(UserMaster.UserName)" label="Name"></hms-text-box>
    <hms-text-box name="@nameof(UserMaster.Password)" label="password"></hms-text-box>
</form>